{% extends "../base.html" %}

{% block body %}
  <h1>{{task.name}}  
  {% if task.done %} 
    <a class="btn btn-outline-success" href="{% url "tasks:toggle-task" task.slug %}" role="button">Completada</a> 
  {% else %} 
    <a class="btn btn-outline-danger" href="{% url "tasks:toggle-task" task.slug %}" role="button">Pendiente</a>
  {% endif %}</h1>
  <div class="description">
    <p>{{task.description}}</p>
   
    <h5>Dia limite:{{task.complete_before}} Creado el:{{task.created_at}}</h3>
  </div>
{% endblock body %}
