{% extends "alltaskdone/base.html" %}

{% block title %}Alltaskdone | Home{% endblock title %}

{% block body %}
  <header>
    <h1>Write down all the tasks you need!!</h1>
  </header>
  <p class="counter">Total tasks: <strong>{{total_tasks}} task{{total_tasks|pluralize}}</strong></p>
  <main>
    {% for task in tasks%}
      {% if task.finished %}
        <div class="tasks">
          <h3>Finished tasks ✅:</h3>
          <ul>
            <li><h3><a href="{% url "alltaskdone:task_detail"  task.slug %}">{{task.title}}</a></h3></li>
          </ul>
        </div>
      {% else %}
        <div class="tasks">
          <h3>Unfinished tasks ❌: </h3>
          <ul>
            <li><h3><a href="{% url "alltaskdone:task_detail"  task.slug %}">{{task.title}}</a></h3></li>
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </main>

{% endblock body %}
