{% extends "alltaskdone/base.html" %}

{% block title %}Alltaskdone | Home{% endblock title %}

{% block body %}
  <header>
    <h1>“AllTaskDone: Achieve More, Stress Less”</h1>
  </header>
  <main>
    <div class="tasks finished">
      <h3>Finished tasks ✅: {{finished_tasks}}</h3>
      <ul>
        {% for task in tasks  %}
          {% if task.done %}
            <li><h3><a href="{% url "alltaskdone:task_detail"  task.slug %}">{{task.title}}</a></h3></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="tasks unfinished">
      <h3>Unfinished tasks ❌: {{unfinished_tasks}}</h3>
      <ul>
        {% for task in tasks %}
          {% if not task.done %}
            <li><h3><a href="{% url "alltaskdone:task_detail"  task.slug %}">{{task.title}}</a></h3></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </main>

{% endblock body %}
