/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos del Contenedor Principal */
#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de los Componentes */
.component {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

/* Estilos de los Botones */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos de los Formularios */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos de las Listas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Estilos de los Encabezados */
h1, h2, h3 {
    color: #333;
}

/* Estilos de Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    #app {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}

img{
    height: 100px;
    width: 100px;
}