{% extends "../base.html" %}

{% block body %}

  <br>
  <ul class="nav nav-pills justify-content-center nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href={% url "tasks:task-list" %}>Todas las tareas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url "tasks:done-list" %}">Tareas terminadas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url "tasks:pending-list" %}">Tareas pendientes</a>
    </li>
  </ul>
  <br>
  <br>
  <h1>Editando post "{{ task.name }}"</h1>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Guardar">
  </form>
{% endblock body %}
